[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchainhub = "*"
langchain-community = "*"
langchain-openai = "*"
black = "*"
python-dotenv = "*"
langchain-ollama = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
